/* General */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

/* 
:root {
  --primary: #5FB1BA;
  --secondary: #E55546;
  --supporting: #C5C4C4;

  --white: #ffffff;
  --grey: #F9F9F9;
  --blue: #C8E7ED;
}
*/


* {
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

/* Layouts */

.container {
    width: 100%;
    /* position: relative; */
    /* width: 1440px; */
    /* height: 1815px; */
} 

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 5rem;
}

.flex-column {
    flex-direction: column;
}



/* Sections */

section {
    position: relative;
    width: 988px;
    height: 20rem;
    background: #5FB1BA;
    border-radius: 10px;
}

.section-1 {
    height: 367px;
}

.section-2 {
    height: 280px;
    background: #ffffff;
}

.section-3 {
    height: 400px;
}

.section-4 {
    position: relative;
    height: 400px;
}

/* First Section */

.section-1 img {
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
}


.p-header {
    position: absolute;
    top: 56px;
    left: 56px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* .p-light {
    font-weight: 300;
} */

/* .p-bolder {
    font-weight: 500;
} */

/* .h {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
} */

.section-1 h2 {
    position: absolute;
    left: 56px;
    top: 84px;
    width: 314px;
    height: 96px;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.section-1 form {
    position: absolute;
    width: 420px;
    height: 48px;
    left: 56px;
    top: 220px;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    gap: 8px;
}

.section-1 form input {
    width: 90%;
    border: none;
    outline: none;
}

.section-1 form input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #C5C4C4;
}

.section-1 form button {
    position: absolute;
    top: 8px;
    left: 380px;
    background-color: #ffffff;
    border: none;
}

.section-1 div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 355px;
    height: 32px;
    left: 56px;
    top: 284px;
}

.section-1 div button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;
    width: 79px;
    height: 32px;
    background: #C8E7ED;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B7882;
    border: none;
}

.section-1 div button:nth-child(2) {
    width: 67px;
}

.section-1 div button:nth-child(3) {
    width: 101px;
}

.section-1 div button:nth-child(4) {
    width: 84px;
}

/* Second Section */

.section-2:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* gap: 8px; */
    position: absolute;
    width: 386px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.section-2 div:first-child p {
    position: absolute;
    top: 56px;
    /* width: 386px; */
    height: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #C5C4C4;
}

.section-2 .grid-4x2 {
    width: 988px;
    height: 164px;
    position: absolute;
    left: 0px;
    top: 116px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.section-2 .grid-4x2-item {
    position: relative;
    background: #8FDBE3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    background-color: #F9F9F9;
    /* gap: 16px; */
}

.section-2 .grid-4x2-item:last-child {
    background: #E55546;
}

.section-2 .grid-4x2-item svg {
    position: absolute;
    top: 16px;
    left: 16px;
}

.section-2 .grid-4x2-item h3 {
    position: absolute;
    top: 16px;
    left: 72px;
    /* width: 107px; */
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.section-2 .grid-4x2-item h4 {
    position: absolute;
    top: 40px;
    left: 72px;
    /* width: 88px; */
    height: 16px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #C5C4C4;
}

/* Third Section */

.section-3 h2 {
    position: absolute;
    width: 314px;
    height: 96px;
    left: 56px;
    top: 84px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.section-3 button {
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 24px;
   gap: 8px;
   position: absolute;
   width: 232px;
   height: 48px;
   left: 56px;
   top: 204px;
   background: #E55546;
   color: #ffffff;
   border-radius: 100px;
   border: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
}

.section-3 img {
    position: absolute;
    left: 0%;
    right: 0%;
    /* top: 0%; */
    bottom: 0%;
}

.section-3 .grid {
    position: absolute;
    top: 56px;
    left: 504px;
    width: 428px;
    height: 288px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.section-3 .grid-item {
    position: relative;
    background: #8FDBE3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
}

.section-3 .grid-item svg {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;

}

.section-3 .grid-item p {
    position: absolute;
    left: 16px;
    top: 71px;
    width: 172px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Fourth Section */



.section-4 p {
    position: absolute;
    width: 460px;
    height: 48px;
    left: 56px;
    top: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.section-4 h2 {
    position: absolute;
    width: 322px;
    height: 48px;
    left: 56px;
    top: 112px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}


.section-4 div:first-child {
    position: absolute;
    width: 460px;
    height: 48px;
    left: 56px;
    top: 192px;
}

.section-4 div {
    position: absolute;
    width: 460px;
    height: 48px;
    left: 56px;
    top: 192px;
}

.section-4 div button:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    position: absolute;
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #E55546;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
}

.section-4 div button:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    position: absolute;
    width: 275px;
    height: 48px;
    left: 185px;
    top: 0px;
    background-color: #5FB1BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 100px;   
}

.section-4 div button:nth-child(2) p {
    font-weight: 500; 
    font-size: 16px; 
    line-height: 24px;
    width: 199px;
    height: 24px;
    top: 12px;
    left: 52px;
}

#ikbal {
    position: absolute;
    left: 548px;
}

#marni {
    position: absolute;
    left: 675px;
    top: 64px;
}



#example {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 16px;
    background: rgba(143, 219, 227, 0.6);
    border-radius: 10px;
    position: absolute;
    width: 216px;
    height: 56px;
    left: 56px;
    top: 288px;
}

/* 
// #example
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8px;
gap: 16px;
background: rgba(143, 219, 227, 0.6);
border-radius: 10px;
width: 216px;
height: 56px;
position: absolute;
*/

/* 
// #example2
left: 288px;
top: 288px;
*/

/* 
// #example3
left: 530px;
top: 288px;
*/



#example svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}

#example p {
    position: absolute;
    top: 16px;
    left: 64px;
    width: 144px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#example2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 16px;
    background: rgba(143, 219, 227, 0.6);
    border-radius: 10px;
    position: absolute;
    width: 226px;
    height: 56px;
    left: 288px;
    top: 288px;
}

#example2 svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}

#example2 p {
    position: absolute;
    top: 16px;
    left: 64px;
    width: 154px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#example3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 16px;
    background: rgba(143, 219, 227, 0.6);
    border-radius: 10px;
    position: absolute;
    width: 210px;
    height: 56px;
    left: 530px;
    top: 288px;
}

#example3 svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}

#example3 p {
    position: absolute;
    top: 16px;
    left: 64px;
    width: 138px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* .section-1 p {
    position: absolute;
    left: 56px;
    top: 56px;
    width:205px;
    height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
} */



/* .section-3 p{
    position: absolute;
    width: 381px;
    height: 24px;
    left: 56px;
    top: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    color: #FFFFFF;
} */